.page{
    width: 100%;
}

span{
    user-select: none;
}
@media only screen and (max-width: 350px) {
    :root{
        font-size: 0.75em;
    }
}

.Example__container__document {
    width: 100%;
    /* max-width: calc(100% - 2em); */
    /* margin: 10px 0; */
  }
  
  .Example__container__document .react-pdf__Document {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Example__container__document .react-pdf__Page {
    /* margin: 10px 0; */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  }
  
  .Example__container__document .react-pdf__message {
    /* padding: 20px; */
    /* color: rgb(255, 0, 0);
    height: 77vh; */
    /* overflow-y: hidden;
    align-self: center;
    justify-self: center;
    align-items: center;
    align-content: center; */
  }