.json-editor {
    display: flex;
    background-color: green;
    padding: 10px;
  }
  
  .textarea-container {
    position: relative;
  }
  
  textarea {
    font-family: monospace;
    line-height: 1.6;
  }
  
  /* .line-number {
    border-right: 1px solid #f1e903;
    padding: 0 10px;
    margin-right: 10px;
  }
  
  .line {
    margin: -0.3em 0;
  }

  .textarea.numbered {
    background: url(http://i.imgur.com/2cOaJ.png);
    background-attachment: local;
    background-repeat: no-repeat;
    padding-left: 35px;
    padding-top: 10px;
    border-color:#ccc;
} */


.editor-container {
    display: flex;
}

.line-number {
    counter-reset: line;
    text-align: right;
    padding-right: 10px;
    user-select: none;
}

.code-editor {
    font-family: monospace;
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    padding: 10px;
    counter-reset: line;
    box-sizing: border-box;
}

.code-line {
    counter-increment: line;
    display: flex;
}

.line-number::before {
    content: counter(line);
    counter-increment: line;
    display: inline-block;
    width: 1.5em;
    text-align: right;
}
  