.editor-container {
    display: flex;
  }
  
  .line-numbers {
    counter-reset: line;
    text-align: right;
    padding-right: 10px;
    user-select: none;
    height: 100%;
    min-height: 300px;
  }
  
  .code-editor {
    font-family: monospace;
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
  }
  
  .line-number {
    margin: 0.3em 0;
  }
  