/* .editor-container {
    display: flex;
  }
  
  .line-numbers {
    counter-reset: line;
    text-align: right;
    padding-right: 10px;
    user-select: none;
  }
  
  .code-editor {
    font-family: monospace;
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    padding: 10px;
    counter-reset: line;
    box-sizing: border-box;
  }
  
  .line-number::before {
    content: counter(line);
    counter-increment: line;
    display: inline-block;
    width: 1.5em;
    text-align: right;
  }
  
  .line-number {
    margin: 0.3em 0;
  }
   */

   .editor-container {
    display: flex;
  }
  
  .line-numbers {
    counter-reset: line;
    text-align: right;
    padding-right: 10px;
    user-select: none;
    height: 100%;
    min-height: 300px;
    overflow-y: scroll;
  }
  
  .code-editor {
    font-family: monospace;
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
  }
  
  .line-number {
    margin: 0.3em 0;
  }
  